<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="App.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.transaction.transactionType">Transaction Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'App.TransactionType.' + transaction.transactionType}}">{{transaction.transactionType}}</span>
                </dd>
                <dt><span jhiTranslate="App.transaction.dateTime">Date Time</span></dt>
                <dd>
                    <span>{{transaction.dateTime}}</span>
                </dd>
                <dt><span jhiTranslate="App.transaction.description">Description</span></dt>
                <dd>
                    <span>{{transaction.description}}</span>
                </dd>
                <dt><span jhiTranslate="App.transaction.memo">Memo</span></dt>
                <dd>
                    <span>{{transaction.memo}}</span>
                </dd>
                <dt><span jhiTranslate="App.transaction.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{'App.Category.' + transaction.category}}">{{transaction.category}}</span>
                </dd>
                <dt><span jhiTranslate="App.transaction.amount">Amount</span></dt>
                <dd>
                    <span>{{transaction.amount | number : '1.2-2'}}</span>
                </dd>
                <dt><span jhiTranslate="App.transaction.moneyAccount">Money Account</span></dt>
                <dd>
                    <div *ngIf="transaction.moneyAccount">
                        <a [routerLink]="['/money-account', transaction.moneyAccount?.id, 'view']">{{transaction.moneyAccount?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
