<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bills">
            <h2><span jhiTranslate="App.bills.detail.title">Bills</span> {{bills.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.bills.paymentTotal">Payment Total</span></dt>
                <dd>
                    <span>{{bills.paymentTotal}}</span>
                </dd>
                <dt><span jhiTranslate="App.bills.companyName">Company Name</span></dt>
                <dd>
                    <span>{{bills.companyName}}</span>
                </dd>
                <dt><span jhiTranslate="App.bills.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{bills.dueDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.bills.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{bills.paymentDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.bills.paymentAmount">Payment Amount</span></dt>
                <dd>
                    <span>{{bills.paymentAmount}}</span>
                </dd>
                <dt><span jhiTranslate="App.bills.autoPay">Auto Pay</span></dt>
                <dd>
                    <span>{{bills.autoPay}}</span>
                </dd>
                <dt><span jhiTranslate="App.bills.moneyAccount">Money Account</span></dt>
                <dd>
                    <div *ngIf="bills.moneyAccount">
                        <a [routerLink]="['/money-account', bills.moneyAccount?.id, 'view']">{{bills.moneyAccount?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bills', bills.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
