<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="budgetItem">
            <h2><span jhiTranslate="App.budgetItem.detail.title">Budget Item</span> {{budgetItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.budgetItem.expectedSpending">Expected Test Spending</span></dt>
                <dd>
                    <span>{{budgetItem.expectedSpending | currency}}</span>
                </dd>
                <dt><span jhiTranslate="App.budgetItem.actualSpending">Actual Spending</span></dt>
                <dd>
                    <span>{{budgetItem.actualSpending | currency}}</span>
                </dd>
                <dt><span jhiTranslate="App.budgetItem.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{'App.Category.' + budgetItem.category}}">{{budgetItem.category}}</span>
                </dd>
                <dt><span jhiTranslate="App.budgetItem.budget">Budget</span></dt>
                <dd>
                    <div *ngIf="budgetItem.budget">
                        <a [routerLink]="['/budget', budgetItem.budget?.id, 'view']">{{budgetItem.budget?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/budget-item', budgetItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
