<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-budget-item-heading" jhiTranslate="App.budgetItem.home.createOrEditLabel">Create or edit a Budget Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!budgetItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="budgetItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budgetItem.expectedSpending" for="field_expectedSpending">Expected Spending</label>
                    <input type="number" class="form-control" name="expectedSpending" id="field_expectedSpending"
                        [(ngModel)]="budgetItem.expectedSpending" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budgetItem.actualSpending" for="field_actualSpending">Actual Spending</label>
                    <input type="number" class="form-control" name="actualSpending" id="field_actualSpending"
                        [(ngModel)]="budgetItem.actualSpending" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budgetItem.category" for="field_category">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="budgetItem.category" id="field_category" >
                        <option value="RENT">{{'App.Category.RENT' | translate}}</option>
                        <option value="FOOD">{{'App.Category.FOOD' | translate}}</option>
                        <option value="INCOME">{{'App.Category.INCOME' | translate}}</option>
                        <option value="UTILITIES">{{'App.Category.UTILITIES' | translate}}</option>
                        <option value="SHOPPING">{{'App.Category.SHOPPING' | translate}}</option>
                        <option value="TRANSFER">{{'App.Category.TRANSFER' | translate}}</option>
                        <option value="AUTOMOTIVE">{{'App.Category.AUTOMOTIVE' | translate}}</option>
                        <option value="MISCELLANEOUS">{{'App.Category.MISCELLANEOUS' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budgetItem.budget" for="field_budget">Budget</label>
                    <select class="form-control" id="field_budget" name="budget" [(ngModel)]="budgetItem.budget" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="budgetOption.id === budgetItem.budget?.id ? budgetItem.budget : budgetOption" *ngFor="let budgetOption of budgets; trackBy: trackBudgetById">{{budgetOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
