<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.budgetItem.home.title">Budget Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-budget-item" [routerLink]="['/budget-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.budgetItem.home.createLabel">
            Create new Budget Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="budgetItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.budgetItem.expectedSpending">Expected Spending</span></th>
            <th><span jhiTranslate="App.budgetItem.actualSpending">Actual Spending</span></th>
            <th><span jhiTranslate="App.budgetItem.category">Category</span></th>
            <th><span jhiTranslate="App.budgetItem.budget">Budget</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let budgetItem of budgetItems ;trackBy: trackId">
                <td><a [routerLink]="['/budget-item', budgetItem.id, 'view' ]">{{budgetItem.id}}</a></td>
                <td>{{budgetItem.expectedSpending}}</td>
                <td>{{budgetItem.actualSpending}}</td>
                <td jhiTranslate="{{'App.Category.' + budgetItem.category}}">{{budgetItem.category}}</td>
                <td>
                    <div *ngIf="budgetItem.budget">
                        <a [routerLink]="['../budget', budgetItem.budget?.id, 'view' ]" >{{budgetItem.budget?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/budget-item', budgetItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/budget-item', budgetItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'budget-item/'+ budgetItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
