<div>
    <h2 id="page-heading">
        <span jhiTranslate="App.moneyAccount.home.title">Money Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-money-account" [routerLink]="['/money-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="App.moneyAccount.home.createLabel">
            Create new Money Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="moneyAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="App.moneyAccount.type">Type</span></th>
            <th><span jhiTranslate="App.moneyAccount.accountTotal">Account Total</span></th>
            <th><span jhiTranslate="App.moneyAccount.signIn">Sign In</span></th>
            <th><span jhiTranslate="App.moneyAccount.pw">Pw</span></th>
            <th><span jhiTranslate="App.moneyAccount.bankName">Bank Name</span></th>
            <th><span jhiTranslate="App.moneyAccount.userDetails">User Details</span></th>
            <th><span jhiTranslate="App.moneyAccount.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let moneyAccount of moneyAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/money-account', moneyAccount.id, 'view' ]">{{moneyAccount.id}}</a></td>
                <td jhiTranslate="{{'App.AccountType.' + moneyAccount.type}}">{{moneyAccount.type}}</td>
                <td>{{moneyAccount.accountTotal}}</td>
                <td>{{moneyAccount.signIn}}</td>
                <td>{{moneyAccount.pw}}</td>
                <td>{{moneyAccount.bankName}}</td>
                <td>
                    <div *ngIf="moneyAccount.userDetails">
                        <a [routerLink]="['../user-details', moneyAccount.userDetails?.id, 'view' ]" >{{moneyAccount.userDetails?.id}}</a>
                    </div>
                </td>
                <td>
                    {{moneyAccount.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/money-account', moneyAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/money-account', moneyAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'money-account/'+ moneyAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
