<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="budget">
            <h2><span jhiTranslate="App.budget.detail.title">Budget</span> {{budget.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.budget.expectedTotal">Expected Total</span></dt>
                <dd>
                    <span>{{budget.expectedTotal | currency}}</span>
                </dd>
                <dt><span jhiTranslate="App.budget.actualTotal">Actual Total</span></dt>
                <dd>
                    <span>{{budget.actualTotal | currency}}</span>
                </dd>
                <dt><span jhiTranslate="App.budget.startDate">Start Date</span></dt>
                <dd>
                    <span>{{budget.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.budget.endDate">End Date</span></dt>
                <dd>
                    <span>{{budget.endDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/budget', budget.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
