<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-budget-heading" jhiTranslate="App.budget.home.createOrEditLabel">Create or edit a Budget</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!budget.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="budget.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budget.expectedTotal" for="field_expectedTotal">Expected Total</label>
                    <input type="number" class="form-control" name="expectedTotal" id="field_expectedTotal"
                        [(ngModel)]="budget.expectedTotal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budget.actualTotal" for="field_actualTotal">Actual Total</label>
                    <input type="number" class="form-control" name="actualTotal" id="field_actualTotal"
                        [(ngModel)]="budget.actualTotal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budget.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="budget.startDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="App.budget.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="budget.endDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
