<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userDetails">
            <h2><span jhiTranslate="App.userDetails.detail.title">User Details</span> {{userDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.userDetails.netWorth">Net Worth</span></dt>
                <dd>
                    <span>{{userDetails.netWorth}}</span>
                </dd>
                <dt><span jhiTranslate="App.userDetails.totalCash">Total Cash</span></dt>
                <dd>
                    <span>{{userDetails.totalCash}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-details', userDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
