<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billItem">
            <h2><span jhiTranslate="App.billItem.detail.title">Bill Item</span> {{billItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="App.billItem.companyName">Company Name</span></dt>
                <dd>
                    <span>{{billItem.companyName}}</span>
                </dd>
                <dt><span jhiTranslate="App.billItem.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{billItem.dueDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.billItem.paidDate">Paid Date</span></dt>
                <dd>
                    <span>{{billItem.paidDate}}</span>
                </dd>
                <dt><span jhiTranslate="App.billItem.paymentAmount">Payment Amount</span></dt>
                <dd>
                    <span>{{billItem.paymentAmount}}</span>
                </dd>
                <dt><span jhiTranslate="App.billItem.moneyAccount">Money Account</span></dt>
                <dd>
                    <div *ngIf="billItem.moneyAccount">
                        <a [routerLink]="['/money-account', billItem.moneyAccount?.id, 'view']">{{billItem.moneyAccount?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="App.billItem.bills">Bills</span></dt>
                <dd>
                    <div *ngIf="billItem.bills">
                        <a [routerLink]="['/bills', billItem.bills?.id, 'view']">{{billItem.bills?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill-item', billItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
